fastapi
uvicorn
sqlalchemy
passlib[bcrypt]
mysql-connector-python
databases
pydantic
oauthlib
requests-oauthlib
python-dotenv

# docker build -t leafyfun-backend .
# docker run -d -p 8000:8000 --env-file .env leafyfun-backend
# docker-compose up --build
# uvicorn main:app --reload
# flutter run