fastapi
uvicorn
sqlalchemy
pymysql
sqlmodel
passlib
bcrypt
mysql-connector-python
databases
pydantic
oauthlib
authlib
requests-oauthlib
python-dotenv
opencv-python-headless
pillow
starlette
python-jose
pydantic[email]


# pip install fastapi uvicorn sqlalchemy pymysql passlib[bcrypt] python-jose
# pip install sqlmodel mysql-connector-python databases pydantic requests-oauthlib python-dotenv

# uvicorn lib.main:app --reload
# flutter run


# NEXT TASKS

# flutter pub add camera path_provider path